.layout {
  margin: 0 auto;
  max-width: 1535px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Raleway", sans-serif; }

ul {
  list-style: none; }

header {
  position: relative; }

a {
  font-size: 18px;
  text-decoration: none; }

.banner {
  height: 100vh;
  padding: 20px;
  text-align: right; }

.bg-banner {
  background-image: url("../assets/img/bg-header-rz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.intro-text {
  color: white;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .intro-text p {
    font-size: 40px;
    margin: 30px 0 25px 0;
    opacity: .8; }
    .intro-text p em {
      opacity: .5;
      font-size: 35px; }

h1 {
  font-size: 42px;
  letter-spacing: 12px;
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center; }

h3 {
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center; }

.section-wrapper {
  box-shadow: 0 2px 18px -1px grey; }

.section-menu {
  padding: 25px 0;
  /* display */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }

.menu {
  display: flex; }
  .menu li {
    margin-left: 100px; }
    .menu li a {
      color: black;
      font-size: 18px;
      opacity: 0.9;
      text-transform: uppercase; }
      .menu li a:hover {
        text-decoration: underline; }

@media screen and (min-width: 1535px) {
  .section-menu {
    /* display */
    justify-content: space-between; } }
@media screen and (max-width: 1198px) {
  .section-menu {
    /* display */
    flex-direction: column; }
    .section-menu nav {
      width: 100%;
      /* display */
      display: flex;
      flex-grow: 1; }

  .menu {
    /* display */
    display: inherit;
    flex-grow: 1;
    justify-content: space-around; }
    .menu li {
      margin-left: 0; }
      .menu li a:hover {
        text-decoration: none; } }
@media screen and (max-width: 600px) {
  .menu {
    /* display */
    align-items: center;
    flex-direction: column; }
    .menu li {
      margin: 5px 0; } }
.about {
  padding: 50px 10px 70px 10px; }

.about-content {
  /* display */
  display: flex;
  align-items: center;
  flex-direction: column; }
  .about-content .about-heading-two {
    font-size: 35px; }
  .about-content .about-heading-three {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2.2px;
    margin: 20px 0;
    word-spacing: 1.6px; }
  .about-content .about-text {
    font-size: 14px;
    margin-top: 18px; }

@media screen and (min-width: 1535px) {
  .about {
    padding: 50px 0 70px 0; }
    .about .layout {
      padding: 0 95px; } }
.stats {
  background-image: url("../assets/img/bg-statistics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
  /* display */
  display: flex;
  align-items: center;
  flex-direction: column; }

.stats-details {
  display: inherit;
  flex-direction: row;
  width: calc(100% - 50%);
  justify-content: space-between; }

.stats-heading-two {
  letter-spacing: 3px; }

.stats-heading-three {
  font-weight: 400;
  margin: 5px 0 80px 0; }

.stats-details .stats-inner {
  font-size: 24px;
  text-transform: uppercase;
  /* display */
  display: flex;
  align-items: center;
  flex-direction: column; }
  .stats-details .stats-inner .stats-inner-number {
    font-size: 72px; }
  .stats-details .stats-inner .stats-inner-info {
    font-size: 24px; }

@media screen and (max-width: 1040px) {
  .stats-details {
    flex-direction: column;
    width: auto; }

  .stats-heading-three {
    padding: 0 10px; } }
.featured {
  margin-top: 50px;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center; }

.featured-products {
  padding: 60px 0;
  /* display */
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.featured-product {
  margin-bottom: 25px;
  /* display */
  display: inherit;
  flex-direction: column;
  align-items: center; }

.featured-product-title {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase; }

.featured-product-price {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 10px; }

.featured-product-photo {
  flex-basis: content; }

.featured-product-link {
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: underline; }
  .featured-product-link:hover {
    text-decoration: none; }

.featured-heading-two {
  margin-bottom: 15px; }

.featured-heading-three {
  font-weight: 100; }

@media screen and (min-width: 1350px) {
  .featured-products {
    width: 1345px;
    margin: 0 auto; } }
@media screen and (max-width: 1195px) {
  .featured-products {
    justify-content: space-around; } }
@media screen and (max-width: 400px) {
  .featured-product-photo {
    width: 60%; } }
.team {
  background-color: #ededed;
  padding: 50px 0 60px 0;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center; }

.team-members {
  margin-top: 55px;
  width: calc(100% - 15%);
  /* display */
  display: inherit;
  justify-content: space-evenly; }

.team-member {
  display: inherit;
  flex-direction: column;
  align-items: center; }

.team-heading-two {
  margin-bottom: 20px; }

.team-heading-three {
  font-weight: 600; }

.team-member-name {
  font-size: 32px;
  margin: 35px 0 20px 0;
  text-transform: uppercase; }

.team-member-title {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

@media screen and (max-width: 800px) {
  .team {
    padding: 50px 10px; }

  .team-members {
    /* display */
    flex-direction: column; }

  .team-member {
    margin-bottom: 40px; } }
.social {
  padding-top: 65px;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center; }

.social-heading-three {
  margin: 22px 0 56px 0; }

.social-gallery {
  display: inherit;
  overflow: hidden; }

.social-gallery img:hover {
  transform: scale(1.5);
  transition: transform 800ms ease; }

.social-follow-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 60px 0;
  font-weight: 800;
  font-size: 24px; }
  .social-follow-text a {
    color: black;
    font-size: inherit;
    text-decoration: underline; }
    .social-follow-text a:hover {
      text-decoration: none; }

@media screen and (max-width: 1537px) {
  .social-gallery {
    width: 100%; } }
@media screen and (max-width: 1024px) {
  .social-gallery {
    width: calc(100% - 20%);
    /* display */
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .social-gallery img {
      margin-bottom: 25px; }

  .social-gallery img:hover {
    transform: none; } }
@media screen and (max-width: 768px) {
  .social {
    padding: 65px 10px 0 10px; }

  .social-heading-two {
    text-align: center; } }
.footer {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  padding: 55px 0 95px 0; }

.footer-inner {
  width: 1345px;
  margin: 0 auto; }

.footer-headings {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-heading-two {
  margin-bottom: 10px; }

.footer-text {
  letter-spacing: 2px;
  margin-top: 10px;
  opacity: .5;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.footer-nav {
  margin-top: 70px;
  /* display */
  display: flex;
  justify-content: space-between; }

.footer-nav-heading {
  color: inherit;
  font-weight: lighter;
  margin-bottom: 25px;
  opacity: .8;
  text-transform: uppercase; }

.footer-nav-menu li {
  letter-spacing: 1px;
  margin-bottom: 5px; }
  .footer-nav-menu li a {
    color: inherit;
    opacity: .8;
    text-transform: uppercase; }
    .footer-nav-menu li a:hover {
      text-decoration: underline; }

.footer-social-icons a {
  color: inherit;
  margin-right: 10px; }

@media screen and (min-width: 960px) and (max-width: 1345px) {
  .footer-nav {
    padding: 0 10px; } }
@media screen and (max-width: 960px) {
  .footer-nav {
    text-align: center;
    /* display */
    flex-direction: column;
    align-items: center; }

  .footer-nav-menu li a:hover {
    text-decoration: none; }

  .footer-nav-part {
    margin-bottom: 10px; } }

/*# sourceMappingURL=styles.css.map */
