.footer{
  background-color: #1e1e1e;
  color: white;
  display: flex;
  padding: 55px 0 95px 0;
}

.footer-inner{
  width: 1345px;
  margin: 0 auto;
}

.footer-headings{
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-heading-two{
  margin-bottom: 10px;
}

.footer-text{
  letter-spacing: 2px;
  margin-top: 10px;
  opacity: .5;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-nav{
  margin-top: 70px;
  /* display */
  display: flex;
  justify-content: space-between;
}

.footer-nav-heading{
  color: inherit;
  font-weight: lighter;
  margin-bottom: 25px;
  opacity: .8;
  text-transform: uppercase;
}

.footer-nav-menu{
  li{
    letter-spacing: 1px;
    margin-bottom: 5px;
    a{
      color: inherit;
      opacity: .8;
      text-transform: uppercase;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.footer-social-icons{
  a{
    color: inherit;
    margin-right: 10px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1345px){
  .footer-nav{
    padding: 0 10px;
  }
}

@media screen and (max-width: 960px){
  .footer-nav{
    text-align: center;
    /* display */
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-menu{
    li{
      a:hover{
        text-decoration: none;
      }
    }
  }
  .footer-nav-part{
    margin-bottom: 10px;
  }
}