.banner{
  height: 100vh;
}

.bg-banner{
  background-image: url("../assets/img/bg-header-rz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}