h1{
  font-size: 42px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

h2{
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3{
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}